In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Explore the Data 
## 1) Training Data

In [28]:
df = pd.read_csv('training_data.csv', index_col=0)

In [29]:
df.head()

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
619,2,50,12500,98,1
664,0,13,3250,28,1
441,1,16,4000,35,1
160,2,20,5000,45,1
358,1,24,6000,77,0

In [33]:
df.columns = ['MonLastDon', 'NoDon', 'TotVolDon','MonFirstDon','DonMar2007']

In [34]:
df.head()

     MonLastDon  NoDon  TotVolDon  MonFirstDon  DonMar2007
619           2     50      12500           98           1
664           0     13       3250           28           1
441           1     16       4000           35           1
160           2     20       5000           45           1
358           1     24       6000           77           0

## Checking Null Values

In [37]:
all(pd.notnull(df))

True

In [40]:
df[df.MonLastDon.isnull()]

Empty DataFrame
Columns: [MonLastDon, NoDon, TotVolDon, MonFirstDon, DonMar2007]
Index: []